<body>
  <main>
      <div class="controls">
          <div class="buttons">
              <button *ngFor="let item of getGroupsList()"
                (click)="setGroup(item)"
                [ngClass]="{'active': currentGroup == item}">
                {{ item }}
              </button>
          </div>
      </div>

      <div class="container">
        <span>Сьогодні <u>{{ today.getDate() }} {{ today | monthName }}</u>.</span>
          <ng-container *ngFor="let schedule of getSchedules()">
            <div *ngIf="today.getDay() <= schedule.DayIndex" class="timetable">
              <span>Розклад на <b>{{ schedule.Day }}</b> (<u>{{ getNextDateOfDay(schedule.DayIndex).getDate() }} {{ getNextDateOfDay(schedule.DayIndex) | monthName }}</u>):</span>
              <hr>
              <!-- In case when the schedule is currently goes by numerator -->
              <span *ngIf="isNumeratorForDay(schedule.DayIndex)" class="timetable-strings">
                <span [innerHTML]="(str | formatText | safeHtml)" *ngFor="let str of schedule.ScheduleByNumerator"></span>
              </span>
              
              <!-- In case when the schedule is currently goes by denuminator -->
              <span *ngIf="!isNumeratorForDay(schedule.DayIndex)" class="timetable-strings">
                <span [innerHTML]="(str | formatText | safeHtml)" *ngFor="let str of schedule.ScheduleByDenominator"></span>
              </span>
            </div>
          </ng-container>
      </div>
  </main>
  <app-footer></app-footer>
</body>