<body>
  <main>
      <div class="controls">
          <div class="buttons">
              <button (click)="setGroup('KNMS-22')" [ngClass]="{'active': currentGroup == 'KNMS-22'}">КНМС-22</button>
              <button (click)="setGroup('KNMS-21')" [ngClass]="{'active': currentGroup == 'KNMS-21'}">КНМС-21</button>
          </div>
          
          <div class="buttons">
            <button (click)="setSubgroup(1)" [ngClass]="{'active': currentSubgroup == 1}">Підгрупа I</button>
            <button (click)="setSubgroup(2)" [ngClass]="{'active': currentSubgroup == 2}">Підгрупа II</button>
          </div>
      </div>

      <div class="container">
        <span>Сьогодні <u>{{ today.getDate() }} {{ today | monthName }}</u>.</span>
          <div *ngIf="today.getDate() <= getNextDateOfDay(1).getDate() || today.getMonth() < getNextDateOfDay(1).getMonth()" class="timetable">
              <span>Розклад на <b>понеділок</b> (<u>{{ getNextDateOfDay(1).getDate() }} {{ getNextDateOfDay(1) | monthName }}</u>):</span>
              <hr>
              <span class="timetable-strings">
                <span [innerHTML]="(str | formatText | safeHtml)" *ngFor="let str of mondayTimetable"></span>
              </span>
          </div>

          <div class="timetable">
            <span>Розклад на <b>суботу</b> (<u>{{ getNextDateOfDay(6).getDate() }} {{ getNextDateOfDay(6) | monthName }}</u>):</span>
              <hr>
              <span class="timetable-strings">
                <span [innerHTML]="(str | formatText | safeHtml)" *ngFor="let str of saturdayTimetable"></span>
              </span>
          </div>
      </div>
  </main>
  <app-footer></app-footer>
</body>