:root {
    --background: #0D1117;

    --active-button-background: #238636;
    --active-button-border: #4C985B;
    --active-button-hover-background: #2A9A3F;
    --active-button-text: #FFFFFF;

    --button-background: #21262D;
    --button-border: #30363D;
    --button-hover-background: #272D36;
    --button-hover-text: #EFEFEF;
    --button-text: #BABABA;

    --text: #E6EDF3;
    --line-color: #262B32;

    --footer-color: #848D88;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: SegoeUI;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--background);
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 4.72vw;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons {
    display: flex;
}

.buttons button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none !important;
}
.buttons button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none !important;
}

button {
    width: 100%;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: 700;
    padding: 4px;
    color: var(--button-text);
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    cursor: pointer;
}

button:hover {
    color: var(--button-hover-text);
    background-color: var(--button-hover-background);
}

button.active {
    color: var(--active-button-text);
    background-color: var(--active-button-background);
    border: 1px solid var(--active-button-border);
}

button.active:hover {
    color: var(--active-button-text);
    background-color: var(--active-button-hover-background);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 20px;
}

.container .timetable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timetable-strings {
    display: flex;
    flex-direction: column;
}

.container span {
    font-size: 20px;
}

.timetable hr {
    border: none;
    height: 1px;
    background-color: var(--line-color);
}